name: Test

on:
  workflow_dispatch:
  # rebuild any PRs and main branch changes
  pull_request:
    branches: [$default-branch, main]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  push:
    branches:
      - $default-branch
      - main
      - 'releases/*'
    paths-ignore:
      - 'README.md'
      - 'docs/**'

jobs:
  build: # make sure we can build action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - run: npm run build
      - run: npm run pack
      - name: test
        run: npm run test:coverage
      - name: run-action
        uses: ./
        id: run_action
        with:
          exclude-draft: true
      - uses: deblockt/cucumber-report-annotations-action@v1.9
        if: github.actor != 'dependabot[bot]'
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          path: "**/cucumber-report.json"

      - name: log-action-output
        run: echo ${{steps.run_action.outputs.gh_output}}
